
body{
    width: 100%;
    height: 110vh;
    margin: auto;
    background-color: $primaryBackgroundColorDark;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: NewsCycle-Regular;
}