#navBack{
    position: relative;
    background-color: $secondaryBacgroundColorYellow;
    border-bottom: solid 2px $blackColor;
    width: 60%;
    height: 5vh;
    display: flex;
    justify-content:  space-between;
    align-items: center;
    z-index: 1;
    h2{
        font-size: 2vw;
    }
    #backLinks{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        cursor:pointer;
        
        .dropDown{
            font-size: 1.25vw;
            background-color: $secondaryBacgroundColor02;
            border-left: solid 2px $blackColor;
            width: 100%;
            height: 100%;
            text-align: center;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &:nth-last-of-type(1){
                border-right: solid 2px $blackColor;
            }
            &:hover .dropdown-content {display: block;}
            &:hover {background-color: $secondaryBacgroundColorYellowLight;}
            .dropdown-content {
                display: none;
                position: absolute;
                top: 5vh;
                background-color: #f1f1f1;
                min-width: 200%;
                z-index: 1;
                a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    font-size: 18px;
                    background-color: $secondaryBacgroundColorYellow;
                    border-bottom: solid 2px $blackColor;
                    border-left: solid 2px $blackColor;
                    border-right: solid 2px $blackColor;
                    &:hover{background-color: $secondaryBacgroundColorYellowLight;}
                  }
                
              }
            a{
                text-decoration: none;
                color: black
            }
        }
    }
    
}