$blackColor: #110B11;
$primaryBackgroundColorDark: #4C5B61;
$primaryBackgroundColorLight: #DDC67B;
$secondaryBacgroundColorYellow: #F8F272;
$secondaryBacgroundColorYellowLight:#FBF7B1;
$secondaryBacgroundColor02: #48A9A6;
$secondaryBacgroundColor02Light: #65a7a4;