body {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #4C5B61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: NewsCycle-Regular;
}

#navBack {
  position: relative;
  background-color: #F8F272;
  border-bottom: solid 2px #110B11;
  width: 60%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

#navBack #backLinks {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#navBack #backLinks .dropDown {
  font-size: 24px;
  background-color: #48A9A6;
  border-left: solid 2px #110B11;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navBack #backLinks .dropDown:nth-last-of-type(1) {
  border-right: solid 2px #110B11;
}

#navBack #backLinks .dropDown:hover .dropdown-content {
  display: block;
}

#navBack #backLinks .dropDown:hover {
  background-color: #FBF7B1;
}

#navBack #backLinks .dropDown .dropdown-content {
  display: none;
  position: absolute;
  top: 5vh;
  background-color: #f1f1f1;
  min-width: 200%;
  z-index: 1;
}

#navBack #backLinks .dropDown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  background-color: #F8F272;
  border-bottom: solid 2px #110B11;
  border-left: solid 2px #110B11;
  border-right: solid 2px #110B11;
}

#navBack #backLinks .dropDown .dropdown-content a:hover {
  background-color: #FBF7B1;
}

#navBack #backLinks .dropDown a {
  text-decoration: none;
  color: black;
}

#oldNumbers {
  position: relative;
  width: 60%;
  height: 95vh;
  background-color: #DDC67B;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#oldNumbers h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#oldNumbers .buttonsPannel {
  width: 100%;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#oldNumbers .buttonsPannel a {
  text-decoration: none;
  text-align: center;
  color: #110B11;
}

#oldNumbers .buttonsPannel #createMag {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #00c000;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#oldNumbers .buttonsPannel #createMag:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#oldNumbers #tableContainer {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

#oldNumbers #tableContainer #tableTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#oldNumbers #tableContainer #tableTitles .columnTitle {
  width: 20%;
  background-color: #48A9A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  border-top: solid 2px #110B11;
  border-left: solid 2px #110B11;
}

#oldNumbers #tableContainer #tableTitles .columnTitle:nth-child(7) {
  border-right: solid 2px #110B11;
}

#oldNumbers #tableContainer .tableRows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
  background-color: #F8F272;
}

#oldNumbers #tableContainer .tableRows:hover {
  background-color: #FBF7B1;
}

#oldNumbers #tableContainer .tableRows:nth-last-of-type(1) {
  border-bottom: solid 2px #110B11;
}

#oldNumbers #tableContainer .tableRows .tableContent {
  width: 20%;
  color: #110B11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  border-top: solid 2px #110B11;
  border-left: solid 2px #110B11;
}

#oldNumbers #tableContainer .tableRows .tableContent:nth-child(7) {
  border-right: solid 2px #110B11;
}

#oldNumbers #pageMovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

#oldNumbers #pageMovers a {
  width: 30%;
  text-align: center;
  font-size: 54px;
  text-decoration: none;
  color: #110B11;
}

#oldNumbers #pageMovers a:hover {
  color: #48A9A6;
}

#oldNumbers #pageMovers span {
  background-color: #F8F272;
  border: solid 2px #110B11;
  font-size: 24px;
  padding: 10px;
}

#oldNumbers #pageMoversHidden {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

#oldNumbers .hidden {
  cursor: not-allowed;
  pointer-events: none;
  color: #beab6adf !important;
}

#newMag {
  position: relative;
  width: 60%;
  height: 95vh;
  background-color: #DDC67B;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newMag h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#newMag #contentContainer {
  width: 90%;
  height: 30%;
  background-color: #F8F272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newMag #contentContainer #formNewMag {
  font-size: 24px;
  width: 30%;
  background-color: #48A9A6;
  padding: 15px;
  border: solid 2px #110B11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newMag #contentContainer #formNewMag #number {
  text-align: center;
  width: 40%;
  font-size: 24px;
  padding: 20px;
  border: solid 2px #110B11;
}

#newMag #contentContainer #formNewMag input[type=submit] {
  width: 50%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#newMag #contentContainer #formNewMag input[type=submit]:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#mag {
  position: relative;
  width: 60%;
  height: auto;
  background-color: #DDC67B;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5vh;
}

#mag h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

#mag .buttonsPannel {
  width: 100%;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#mag .buttonsPannel a {
  text-decoration: none;
  text-align: center;
  color: #110B11;
}

#mag .buttonsPannel #online {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #00c000;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#mag .buttonsPannel #online:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#mag .buttonsPannel #preview {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#mag .buttonsPannel #preview:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#mag .buttonsPannel #delete {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #d80000;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#mag .buttonsPannel #delete:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#mag #message {
  font-size: 24px;
  margin-bottom: 3vh;
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
  border: solid 2px #F8F272;
  padding: 15px;
  border-radius: 12px;
  font-style: italic;
}

#mag .none {
  display: none;
}

#mag button {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin-bottom: 3vh;
}

#mag button:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#mag #contentContainer {
  width: 90%;
  height: auto;
  background-color: #F8F272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mag #contentContainer #formMag {
  margin: 15px;
  width: 95%;
  height: auto;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#mag #contentContainer #formMag .formRow {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  background-color: #48A9A6;
}

#mag #contentContainer #formMag .formRow .labelInput {
  width: 80%;
}

#mag #contentContainer #formMag .formRow .labelInput label {
  margin-left: 15px;
}

#mag #contentContainer #formMag .formRow .labelInput #number {
  width: 10%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#mag #contentContainer #formMag .formRow .labelInput #parution {
  width: 45%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#mag #contentContainer #formMag .formRow .labelInput #topics {
  width: 45%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#mag #contentContainer #formMag .formRow .labelInput #cover {
  width: 45%;
  padding: 15px;
  font-size: 14px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#mag #contentContainer #formMag .formRow .labelInput #title01 {
  width: 55%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#mag #contentContainer #formMag .formRow .labelInput #title02 {
  width: 55%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#mag #contentContainer #formMag .formRow .button01 {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin: 15px;
}

#mag #contentContainer #formMag .formRow .button01:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#mag #contentContainer #formMag .formRow .modifTitle {
  width: 10%;
  padding: 5px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  font-size: 14px;
  margin: 15px;
}

#mag #contentContainer #formMag .formRow .modifTitle:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#mag #contentContainer #formMag .formRow .deleteTitle {
  width: 10%;
  padding: 5px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  background-color: #d80000;
  margin: 15px;
}

#mag #contentContainer #formMag .formRow .deleteTitle:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#articlesMag {
  position: relative;
  width: 60%;
  height: 95vh;
  background-color: #DDC67B;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#articlesMag h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#articlesMag .buttonsPannel {
  width: 100%;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#articlesMag .buttonsPannel a {
  text-decoration: none;
  text-align: center;
  color: #110B11;
}

#articlesMag .buttonsPannel #createArticle {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#articlesMag .buttonsPannel #createArticle:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#articlesMag #tableContainer {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

#articlesMag #tableContainer #tableTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#articlesMag #tableContainer #tableTitles .columnTitle {
  width: 20%;
  background-color: #48A9A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  border-top: solid 2px #110B11;
  border-left: solid 2px #110B11;
}

#articlesMag #tableContainer #tableTitles .columnTitle:nth-child(5) {
  border-right: solid 2px #110B11;
}

#articlesMag #tableContainer .tableRows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
  background-color: #F8F272;
}

#articlesMag #tableContainer .tableRows:hover {
  background-color: #FBF7B1;
}

#articlesMag #tableContainer .tableRows:nth-last-of-type(1) {
  border-bottom: solid 2px #110B11;
}

#articlesMag #tableContainer .tableRows .tableContent {
  width: 20%;
  color: #110B11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-align: center;
  border-top: solid 2px #110B11;
  border-left: solid 2px #110B11;
}

#articlesMag #tableContainer .tableRows .tableContent:nth-child(5) {
  border-right: solid 2px #110B11;
}

#articlesMag button {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#articlesMag button:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#articleInfos {
  position: relative;
  width: 60%;
  height: auto;
  background-color: #DDC67B;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5vh;
}

#articleInfos button {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin-bottom: 3vh;
}

#articleInfos button:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#articleInfos h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

#articleInfos .buttonsPannel {
  width: 100%;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#articleInfos .buttonsPannel a {
  text-decoration: none;
  text-align: center;
  color: #110B11;
}

#articleInfos .buttonsPannel #backLink {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#articleInfos .buttonsPannel #backLink:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#articleInfos .buttonsPannel #preview {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#articleInfos .buttonsPannel #preview:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#articleInfos .buttonsPannel #delete {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #d80000;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#articleInfos .buttonsPannel #delete:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#articleInfos #message {
  font-size: 24px;
  margin-bottom: 3vh;
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
  border: solid 2px #F8F272;
  padding: 15px;
  border-radius: 12px;
  font-style: italic;
}

#articleInfos .none {
  display: none;
}

#articleInfos #contentContainer {
  width: 90%;
  height: auto;
  background-color: #F8F272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#articleInfos #contentContainer #formMag {
  margin: 15px;
  width: 95%;
  height: auto;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#articleInfos #contentContainer #formMag .formRow {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  background-color: #48A9A6;
}

#articleInfos #contentContainer #formMag .formRow .labelInput {
  width: 80%;
}

#articleInfos #contentContainer #formMag .formRow .labelInput label {
  margin-left: 15px;
}

#articleInfos #contentContainer #formMag .formRow .labelInput #author {
  width: 45%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#articleInfos #contentContainer #formMag .formRow .labelInput select {
  width: 45%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#articleInfos #contentContainer #formMag .formRow .labelInput #title {
  width: 55%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#articleInfos #contentContainer #formMag .formRow .labelInput #articleCover {
  width: 45%;
  padding: 15px;
  font-size: 14px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#articleInfos #contentContainer #formMag .formRow input[type=submit] {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin: 15px;
}

#articleInfos #contentContainer #formMag .formRow input[type=submit]:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#editorialSection {
  position: relative;
  width: 60%;
  height: auto;
  background-color: #DDC67B;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5vh;
}

#editorialSection button {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin-bottom: 3vh;
}

#editorialSection button:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#editorialSection h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 2vh;
  margin-bottom: 3vh;
}

#editorialSection #backLink {
  text-decoration: none;
  font-size: 24px;
  color: #110B11;
  width: 30%;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#editorialSection #backLink:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#editorialSection #message {
  font-size: 24px;
  margin-bottom: 3vh;
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
  border: solid 2px #F8F272;
  padding: 15px;
  border-radius: 12px;
  font-style: italic;
}

#editorialSection .none {
  display: none;
}

#editorialSection #contentContainer {
  width: 90%;
  height: auto;
  background-color: #F8F272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#editorialSection #contentContainer #formMag {
  margin: 15px;
  width: 95%;
  height: auto;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#editorialSection #contentContainer #formMag .formRow {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  background-color: #48A9A6;
}

#editorialSection #contentContainer #formMag .formRow .labelInput {
  width: 80%;
}

#editorialSection #contentContainer #formMag .formRow .labelInput label {
  margin-left: 15px;
}

#editorialSection #contentContainer #formMag .formRow .labelInput #author {
  width: 45%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#editorialSection #contentContainer #formMag .formRow .labelInput select {
  width: 45%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#editorialSection #contentContainer #formMag .formRow .labelInput #title {
  width: 60%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#editorialSection #contentContainer #formMag .formRow .labelInput #imgArticle {
  width: 60%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#editorialSection #contentContainer #formMag .formRow input[type=submit] {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin: 15px;
}

#editorialSection #contentContainer #formMag .formRow input[type=submit]:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#textEditor {
  position: relative;
  width: 60%;
  height: auto;
  background-color: #DDC67B;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5vh;
}

#textEditor #contentContainer02 {
  width: 90%;
  height: auto;
  background-color: #F8F272;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#textEditor #contentContainer02 h3 {
  font-size: 36px;
}

#textEditor #contentContainer02 #formEditArticle {
  width: 95%;
  min-height: 95vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#textEditor #contentContainer02 #formEditArticle input[type=submit] {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin: 15px;
}

#textEditor #contentContainer02 #formEditArticle input[type=submit]:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#textEditor #contentContainer02 #formEditArticle .tox {
  width: 95% !important;
  min-height: 75vh !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#courrier {
  position: relative;
  width: 60%;
  background-color: #DDC67B;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

#courrier h2 {
  text-align: center;
  font-size: 36px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

#courrier .buttonsPannel {
  width: 100%;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#courrier .buttonsPannel a {
  text-decoration: none;
  text-align: center;
  color: #110B11;
}

#courrier .buttonsPannel #delete {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #d80000;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
}

#courrier .buttonsPannel #delete:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#courrier #tableContainer {
  width: 98%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

#courrier #tableContainer #tableTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#courrier #tableContainer #tableTitles .columnTitle {
  width: 20%;
  background-color: #48A9A6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  border-top: solid 2px #110B11;
  border-left: solid 2px #110B11;
}

#courrier #tableContainer #tableTitles .columnTitle:nth-child(5) {
  border-right: solid 2px #110B11;
}

#courrier #tableContainer .tableRows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
  background-color: #F8F272;
}

#courrier #tableContainer .tableRows:hover {
  background-color: #FBF7B1;
}

#courrier #tableContainer .tableRows:nth-last-of-type(1) {
  border-bottom: solid 2px #110B11;
}

#courrier #tableContainer .tableRows .tableContent {
  width: 20%;
  color: #110B11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  border-top: solid 2px #110B11;
  border-left: solid 2px #110B11;
}

#courrier #tableContainer .tableRows .tableContent:nth-child(5) {
  border-right: solid 2px #110B11;
}

#courrier #pageMovers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

#courrier #pageMovers a {
  width: 30%;
  text-align: center;
  font-size: 54px;
  text-decoration: none;
  color: #110B11;
}

#courrier #pageMovers a:hover {
  color: #48A9A6;
}

#courrier #pageMovers span {
  background-color: #F8F272;
  border: solid 2px #110B11;
  font-size: 24px;
  padding: 10px;
}

#courrier #pageMoversHidden {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

#courrier .hidden {
  cursor: not-allowed;
  pointer-events: none;
  color: #beab6adf !important;
}

#courrier #contentContainer {
  width: 90%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#courrier #contentContainer #formMag {
  font-size: 24px;
  width: 100%;
  background-color: #F8F272;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#courrier #contentContainer #formMag .formRow {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  padding: 15px;
  background-color: #48A9A6;
}

#courrier #contentContainer #formMag .formRow .labelInput {
  width: 80%;
}

#courrier #contentContainer #formMag .formRow .labelInput label {
  margin-left: 15px;
}

#courrier #contentContainer #formMag .formRow .labelInput select {
  width: 30%;
  padding: 15px;
  font-size: 18px;
  border: solid 2px #110B11;
  margin-left: 15px;
}

#courrier #contentContainer #formMag .button01 {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin: 15px;
}

#courrier #contentContainer #formMag .button01:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#courrier #letterContent {
  width: 90%;
  background-color: whitesmoke;
  border: solid 2px #110B11;
  margin-top: 5vh;
  padding: 15px;
}

#courrier #letterContent h3 {
  text-align: center;
  font-size: 36px;
}

#courrier #letterContent p {
  font-size: 24px;
}

#courrier #response {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 5vh;
  background-color: #48A9A6;
}

#courrier #response h3 {
  text-align: center;
  font-size: 36px;
}

#courrier #response #formEditArticle {
  width: 100%;
  min-height: 95vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#courrier #response #formEditArticle input[type=submit] {
  width: 20%;
  padding: 15px;
  margin-top: 15px;
  border: solid 2px #F8F272;
  background-color: #48A9A6;
  border-radius: 12px;
  font-size: 18px;
  -webkit-box-shadow: 0px 5px 10px #110B11;
          box-shadow: 0px 5px 10px #110B11;
  cursor: pointer;
  margin: 15px;
}

#courrier #response #formEditArticle input[type=submit]:hover {
  background-color: #FBF7B1;
  -webkit-box-shadow: 0px 2px 10px #110B11;
          box-shadow: 0px 2px 10px #110B11;
}

#courrier #response #formEditArticle .tox {
  width: 95% !important;
  min-height: 75vh !important;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@font-face {
  font-family: 'NewsCycle-Regular';
  src: url("fonts/NewsCycle-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=styleBack.css.map */