footer{
    width:60%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20%;
    bottom: 0;
    background-color: $primaryBackgroundColorDark;
    border: 2px solid $secondaryBacgroundColorOrange;
    
    #media{
        color: $secondaryBacgroundColorOrange;
        font-size: 48px;
        a{
            text-decoration: none;
            color: $primaryBackgroundColorLight;
            &:hover{
                color: $secondaryBacgroundColorOrange;
            }
        }
        .fa{
            padding: 15px;
        }
    }
    
}