header
{
    width:100%;
    height: 70vh;
    display: flex;
    @include flexCenter(column);
    margin-top: 16vh;
    margin-bottom: 1vh;
    position: relative;
    #border
    {
        background-color: rgba(0, 0, 0, 0);
        border: solid 10px $primaryBackgroundColorDark;
        border-top-style: none;
        top: 6vh;
        width: 56%;
        height: 0%;
        position: absolute;
        transition: height 5s, opacity 3s;
        z-index: 1;
    }

    #borderLeft
    {
        background-color: rgba(0, 0, 0, 0);
        border: solid 10px $primaryBackgroundColorDark;
        border-top-style: none;
        top: 6vh;
        left: 22%;
        width: 16%;
        position: absolute;
        
        z-index: 1;
    }

    #borderRight
    {
        background-color: rgba(0, 0, 0, 0);
        border: solid 10px $primaryBackgroundColorDark;
        border-top-style: none;
        top: 6vh;
        right: 22%;
        width: 16%;
        position: absolute;
        
        z-index: 1;
    }

    #headerImg
    {
        width:80%;
        object-fit: cover;
        height: 80%;
        z-index: 0;
        position: fixed;
        border: 5px solid $primaryBackgroundColorLight;
        /*transition: height 5s, opacity 3s;
        opacity: 0;*/
    }

    #title 
    {
        position: absolute;
        top: 75%;
        left:21.5%;
        font-size: 24px;
        color: $primaryBackgroundColorDark;
        background-color: $primaryBackgroundColorLight;
        padding: 0.5em 0.2em 0.8em 0.5em;
        display: inline-block;
        z-index: 1;
        border: 5px solid $primaryBackgroundColorDark;
    }

    #title02 
    {
        position: absolute;
        top: 89%;
        left:35%;
        font-size: 24px;
        color: $primaryBackgroundColorDark;
        background-color: $primaryBackgroundColorLight;
        padding: 0.5em 0.2em 0.8em 0.5em;
        display: inline-block;
        z-index: 1;
        border: 5px solid $primaryBackgroundColorDark;
    }

    #number
    {
        position: absolute;
        top: 89%;
        left: 21.5%;
        font-size: 24px;
        color: $primaryBackgroundColorLight;
        background-color: $primaryBackgroundColorDark;
        padding: 0.5em 0.2em 0.8em 0.5em;
        display: inline-block;
        z-index: 1;
        border: 5px solid $primaryBackgroundColorDark;
    }

    #sentence
    {
        position: absolute;
        top: 1%;
        right: 23%;
        color: $primaryBackgroundColorLight;
        padding: 0.5em 0.2em 0.8em 0.5em;
        display: inline-block;
        z-index: 1;
    }

    #anchorEd
    {
        position: absolute;
        text-decoration: none;
        top: 15%;
        right: 18%;
        color: $primaryBackgroundColorLight;
        font-family: News Cycle;
        padding: 5px;
        background-color: $primaryBackgroundColorDark;
        font-size: 40px;
        display: inline-block;
        z-index: 2;
        transition: font-size .25s, border-bottom .25s,border-right .25s;
    }

    #anchorEd:hover
    {
        font-size: 42px;
        border-bottom: solid 5px $secondaryBacgroundColorOrange;
        border-right: solid 5px $secondaryBacgroundColorOrange;
    }

    #anchorSum
    {
        position: absolute;
        text-decoration: none;
        top: 25%;
        right: 18%;
        color: $primaryBackgroundColorLight;
        font-family: News Cycle;
        padding: 5px;
        background-color: $primaryBackgroundColorDark;
        font-size: 40px;
        display: inline-block;
        z-index: 2;
        transition: font-size .25s, border-bottom .25s,border-right .25s;

    }

    #anchorSum:hover
    {
        font-size: 42px;
        border-bottom: solid 5px $secondaryBacgroundColorOrange;
        border-right: solid 5px $secondaryBacgroundColorOrange;
    }
    .fa-arrow-circle-left{
        position: absolute;
        text-decoration: none;
        top:50%;
        left:12%;
        font-size: 72px;
        z-index: 4;
        color: $primaryBackgroundColorLight;
        transition: color .5s, transform .5s;
        &:hover{
            color: $secondaryBacgroundColorOrange;
            
        }
    }
    
    .fa-arrow-circle-right{
        position: absolute;
        text-decoration: none;
        top:50%;
        right:12%;
        font-size: 72px;
        z-index: 4;
        color: $primaryBackgroundColorLight;
        transition: color .5s, transform .5s;
        &:hover{
            color: $secondaryBacgroundColorOrange;
            
        }
    }
    .infoBox{
        position: absolute;
        z-index: 2;
        top: -6vh;
        left: -1vh;
        justify-content: center;
        align-items: center;
        display: flex;
        opacity: 0;
        transition: opacity 1s;
        span{
            font-size: 14px;
            background-color: $primaryBackgroundColorLight;
            border: 3px solid $primaryBackgroundColorDark;
            border-radius: 10px;
            text-align: center;
            padding: 1vh;
            color: $primaryBackgroundColorDark;
        }
        
    }
    .hidden{
        position: absolute;
        z-index: -2;
        bottom: -5vh;
        left: -.75vh;
        justify-content: center;
        align-items: center;
        display: flex;
        opacity: 0;
        span{
            font-size: 14px;
            background-color: $primaryBackgroundColorLight;
            text-align: center;
            padding: 1vh;
            color: $primaryBackgroundColorDark;
            display: none;
        }
        
    }
}

