

/* desktop */
@media screen and (max-width: 1366px) 
{	
    #article{
        width:80%;
        min-height: 95vh;
        padding-top: 3vh;
        
        background-color: $primaryBackgroundColorLight;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
            #titleArticle{
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5vh;
                
                
                a{
                    text-decoration: none;
                   
                }
                h1{
                    position: relative;
                    font-size: 24px;
                    z-index: 2;
                    color: $primaryBackgroundColorDark;
                    
                }
                h2{
                    position: relative;
                    font-size: 24px;
                    z-index: 2;
                    color: $primaryBackgroundColorDark;
                    padding-left: 1vh;
                    padding-right: 1vh;
                }
                h3{
                    position: relative;
                    font-size: 24px;
                    z-index: 2;
                    color: $primaryBackgroundColorLight;
                    background-color: $primaryBackgroundColorDark;
                    border: 3px solid $primaryBackgroundColorDark;
                    padding-left: 1vh;
                    padding-right: 1vh;
                    &:hover{
                        color: $primaryBackgroundColorDark;
                        background-color: $primaryBackgroundColorLight;
                    }
                }
                #separator02{
                    width: 100%;
                    height: 0;
                    border-top: 36px solid $secondaryBacgroundColorOrange;
                    position: absolute;
                    top: 10%;
                    z-index: 1;
                }
                
            }
    }
    
    nav{
        color: $primaryBackgroundColorLight;
        @include flexCenter(column);
        position: fixed;
        top: -35px;
        width: 80%;
        height: 175px;
        transition: top 0.5s;
        z-index: 6;
        a{
            text-decoration: none;
            color: $primaryBackgroundColorLight;
        }
        #navTop{
            margin-top: 5px;
            margin-right: 15px;
            font-size: 14px;
            z-index: 3;
        }
    
        .navTopLink{
            margin-left: 18px;
            text-decoration: none;
            color: $primaryBackgroundColorLight;
        }
    
        #logo{
            width: 100%;
            margin-top: -50px;
            padding-top: 10px;
            margin-bottom: -20px;
            text-decoration: none;
            color: $primaryBackgroundColorLight;
            font-size: 25px;
            z-index: 2;
            position: relative;
            text-align: center;
            span{
                position: relative;
                z-index: 1;
                font-size: 75px;
                
            }
            #separator01{
                width: 100%;
                height: 0;
                border-top: 20px solid $secondaryBacgroundColorOrange;
                position: absolute;
                top: 50%;
                left: 0%;
                z-index: 0;
            }
            
        }
    
        #navLinks{
            background-color: $primaryBackgroundColorDark;
            width: 80%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            z-index: 3;
            border: solid 2px $secondaryBacgroundColorOrange;
            padding-left: 15px;
        }
    
        .navBottomLink{
            padding-right: 15px;
            text-decoration: none;
            color: $primaryBackgroundColorLight;
            font-size: 20px;
            transition: color .5s;
            &:hover{
                color: $secondaryBacgroundColorOrange;
                text-decoration: underline;
            }
            &.active{
                color: $secondaryBacgroundColorOrange;
                text-decoration: underline;
            }
            
        }
    
        #popupInfos{
            position: absolute;
            width: 60%;
            min-height: 100px;
            background-color: $primaryBackgroundColorLight;
            top: -500px;
        }
        
    }
    #navBar.sticky{
        top: -115px;
    }


    #sectionImg{
        width: 80%;
        height: 30vh;
        position: relative;
        top:0;
        display: flex;
        justify-content: center;
            .rubricImg{
                width: 80%;
                height: 30%;
                object-fit: cover;
                position: fixed;
            }
    }

    #listRubric{
        width:80%;
        min-height: 95vh;
        
        background-color: $primaryBackgroundColorLight;
        position: relative;
        
            #titleRubric{
                position: relative;
                text-align: center;
                margin-bottom: 5vh;
                h1{
                    position: relative;
                    font-size: 48px;
                    
                    z-index: 2;
                }
                #separator02{
                    width: 100%;
                    height: 0;
                    border-top: 18px solid $secondaryBacgroundColorOrange;
                    position: absolute;
                    top: 42%;
                    z-index: 1;
                }
            }
           
            
            .containerRubric
            {
                width: 99%;
                height: 30vh;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;
                text-decoration: none;
                &:hover
                {
                    color: $primaryBackgroundColorLight;
                    background-color: $primaryBackgroundColorDark;
                    filter: grayscale(100%);
                }
            }
    
            .containImg
            {
                width: 32%;
                height: 96%;
                background-color: $secondaryBacgroundColorOrange;
                border: 3px solid $secondaryBacgroundColorOrange;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
    
            .containText
            {
                width: 66%;
                height: 96%;
                background-color: #F9FBF2;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                
                color: $primaryBackgroundColorDark;
                
                z-index: 1;
                &:hover
                {
                    
                    filter: grayscale(100%);
                }
                
                    .textInfo{
                        
                        width: 95%;
                        height: 100%;
                        
                        border: 2px solid $secondaryBacgroundColorOrange;
                        
                            .theme{
                                position: absolute;
                                top: -3%;
                                left: 1%;
                                font-size: 8vw;
                                padding:5px;
                                background-color: $primaryBackgroundColorLight;
                                z-index: 1;
                            }
                            .number{
                                
                                font-size: 2.5vw;
                                padding:5px;
                                
                            }
                            .title{
                                text-align: center;
                                font-size: 2.5vw;
                            }
                            .extract{
                                padding: 2vh;
                                font-size: 2vw;
                                
                            }
                            a{
                                text-align: center;
                                
                            }
                    }
            }
    
            .thumbImg
            {
                width:100%;
                height: 100%;
                margin:1px;
                object-fit: cover;
                &:hover
                {
                    color: $primaryBackgroundColorLight;
                    background-color: $primaryBackgroundColorDark;
                    filter: grayscale(100%);
                }
                
                
            }
            #pageMovers{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-bottom: 5vh;;
                align-self: center;
                    a{
                        width: 30%;
                        text-align: center;
                        font-size: 54px;
                        text-decoration: none;
                        color: $primaryBackgroundColorDark;
                        &:hover{
                            color: $secondaryBacgroundColorOrange;
                        }
                    }
                    span{
                        background-color: $secondaryBacgroundColorOrange;
                        border: solid 2px $primaryBackgroundColorDark;
                        font-size: 24px;
                        padding: 10px;;
                    }
            }
            #pageMoversHidden{
                display: none;
                justify-content: center;
                align-items: center;
                width: 50%;
            }
            .hidden{
                cursor: not-allowed;
                pointer-events: none;
                color: #eceee3 !important;
                
                
            }
    }


        header
    {
        width:100%;
        height: 70vh;
        display: flex;
        @include flexCenter(column);
        margin-top: 16vh;
        margin-bottom: 1vh;
        position: relative;

        #headerImg
        {
            width:96%;
            object-fit: cover;
            height: 80%;
            z-index: -999 ;
            position: fixed;
            border: 5px solid $primaryBackgroundColorLight;
            /*transition: height 5s, opacity 3s;
            opacity: 0;*/
        }

        #title02
        {
            position: absolute;
            top: 35%;
            left:2%;
            font-size: 36px;
            color: $primaryBackgroundColorLight;
            background-color: $primaryBackgroundColorDark;
            padding: 0.5em 0.5em 0.8em 0.5em;
            display: inline-block;
            z-index: 1;
            border-radius: 0px 25px 25px 0px;
            
        }

        #title01 
        {
            position: absolute;
            top: 5%;
            left:2%;
            font-size: 36px;
            color: $primaryBackgroundColorLight;
            background-color: $primaryBackgroundColorDark;
            padding: 0.5em 0.5em 0.8em 0.5em;
            display: inline-block;
            z-index: 1;
            border-radius: 0px 25px 25px 0px;
        }

        #number
        {
            position: absolute;
            top: 88%;
            left: 3.75%;
            font-size: 24px;
            color: $primaryBackgroundColorLight;
            background-color: $primaryBackgroundColorDark;
            padding: 0.5em 0.2em 0.8em 0.5em;
            display: inline-block;
            z-index: 1;
            border: 5px solid $primaryBackgroundColorDark;
        }

        #publication
        {
            position: absolute;
            top: 88%;
            right: 3.75%;
            font-size: 24px;
            color: $primaryBackgroundColorLight;
            background-color: $primaryBackgroundColorDark;
            padding: 0.5em 0.2em 0.8em 0.5em;
            display: inline-block;
            z-index: 1;
            border: 5px solid $primaryBackgroundColorDark;
        }

        
        .fa-arrow-circle-left{
            position: absolute;
            text-decoration: none;
            top:75%;
            left:5%;
            font-size: 72px;
            z-index: 4;
            color: $primaryBackgroundColorLight;
            transition: color .5s, transform .5s;
            &:hover{
                color: $secondaryBacgroundColorOrange;
                
            }
        }
        
        .fa-arrow-circle-right{
            position: absolute;
            text-decoration: none;
            top:75%;
            right:5%;
            font-size: 72px;
            z-index: 4;
            color: $primaryBackgroundColorLight;
            transition: color .5s, transform .5s;
            &:hover{
                color: $secondaryBacgroundColorOrange;
                
            }
        }
        .infoBox{
            position: absolute;
            z-index: 2;
            top: -6vh;
            left: -1vh;
            justify-content: center;
            align-items: center;
            display: flex;
            opacity: 0;
            transition: opacity 1s;
            span{
                font-size: 14px;
                background-color: $primaryBackgroundColorLight;
                border: 3px solid $primaryBackgroundColorDark;
                border-radius: 10px;
                text-align: center;
                padding: 1vh;
                color: $primaryBackgroundColorDark;
            }
            
        }
        .hidden{
            position: absolute;
            z-index: -2;
            bottom: -5vh;
            left: -.75vh;
            justify-content: center;
            align-items: center;
            display: flex;
            opacity: 0;
            span{
                font-size: 14px;
                background-color: $primaryBackgroundColorLight;
                text-align: center;
                padding: 1vh;
                color: $primaryBackgroundColorDark;
                display: none;
            }
            
        }
    }

    
    #coverPart01
    {
        display: flex;
        flex-wrap: wrap;
        width:96%;
        height: auto;
        justify-content: space-around;
        z-index: 4;
        a{
            background-color: $primaryBackgroundColorLight;
            width: 100%;
            padding: 1vh;
            height: 50vh;
            margin: 0px;
            margin-bottom: 4vh;
            border: 5px solid $primaryBackgroundColorDark;
            text-decoration: none;
            color: $primaryBackgroundColorDark;
            &:hover
            {
                background-color: $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
                cursor: pointer;
                filter: grayscale(100%);
            }
            .imgContainer
            {
                width: 100%;
                height: 70%;
                background-color: red;
            }
            
        }
        #mainArticle
        {
            width: 62.5%;
            position: relative;
            height: 50vh;
            margin: 0px;
            margin-bottom: 4vh;
            border: 5px solid black;
            #mainImg
            {
                width: 100%;
                height:100%;
                object-fit: cover;
                &:hover
                {
                    filter: grayscale(100%);
                }
            }
            h3
            {
                position: absolute;
                margin: 2vh;
                padding: 5px;
                font-size: 2vw;
                left: 0%;
                top: 0%;
                background-color:  $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
            }
            .teaser
            {
                font-size: 2.5vw;
                
                padding: 0.5em 0.5em 0.8em 0.5em;
                padding-top: 0px;
                width: 95%;
                text-align: center;
                line-height: 85%;
                h2
                {
                    font-size: 3.5vw;
                    padding: 2vh;
                    padding-top: 5px;
                    text-align: center;
                    line-height: 75%;
                
                }
                span{
                    font-size: 2.5vw;
                }
            }
            
        }
        #edito
        {
            width: 30%;
            padding: 1vh;
            height: 50vh;
            margin: 0px;
            margin-bottom: 4vh;
            border: 5px solid $primaryBackgroundColorDark;
            h2{
                font-size: 2vw;
            }
            span{
                font-size: 1.25vw;
            }
        }
    }

    #coverPart02
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width:96%;
        height: auto;
        margin: 0px;
        z-index: 4;
        a{
            background-color: $primaryBackgroundColorLight;
            width: 100%;
            padding: 1vh;
            height: 50vh;
           
            margin-bottom: 4vh;
            border: 5px solid $primaryBackgroundColorDark;
            text-decoration: none;
            color: $primaryBackgroundColorDark;
            &:hover
            {
                background-color: $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
                cursor: pointer;
                filter: grayscale(100%);
            }
            .imgContainer
            {
                width: 100%;
                height: 75%;
                background-color: red;
            }
            
        }
        .articleCover
        {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 45%;
            padding: 1vh;
            height: 50vh;
            margin: 0px;
            margin-bottom: 4vh;
            border: 5px solid $primaryBackgroundColorDark;
            .articleImg
            {
                width: 100%;
                height:100%;
                object-fit: cover;
                &:hover
                {
                    filter: grayscale(100%);
                }
            }
            h3
            {
                position: absolute;
                margin: 2vh;
                padding: 5px;
                font-size: 2vw;
                z-index: 4;
                top: 0%;
                left: 0%;
                background-color:  $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
            }
            .teaser
            {
                font-size: 1.75vw;
                
                padding: 0.5em 0.5em 0.8em 0.5em;
                padding-top: 0px;
                width: 95%;
                text-align: center;
                line-height: 85%;
                h2
                {
                    font-size: 2.25vw;
                    padding: 2vh;
                    padding-top: 5px;
                    text-align: center;
                    line-height: 75%;
                
                }
                span{
                    font-size: 1.75vw;
                }
            }
        }
        #readersLettersAndSocial
        {
            
            width: 45%;
            display: flex;
            flex-direction: column ;
            justify-content: space-around;
            height: auto;
            margin: 0px;
            margin-bottom: 4vh;
            
            text-decoration: none;
            color: $primaryBackgroundColorDark;
            #readersLetters
            {
                background-color: $primaryBackgroundColorLight;
                width: 100%;
                height: auto;
                margin: 0vh;
                border: 5px solid $primaryBackgroundColorDark;
                &:hover
                {
                    background-color: $primaryBackgroundColorDark;
                    color: $primaryBackgroundColorLight;
                    cursor: pointer;
                }
                h2
                {
                    font-size: 3vw;
                    text-align: center;
                }
                span
                {
                    font-size: 2vw;
                }
            }
            #socialMedia
            {
                background-color: $primaryBackgroundColorLight;
                width: 100%;
                height: 10vh;
                margin: 0vh;
                border: 5px solid $primaryBackgroundColorDark;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1vh;
                margin-bottom: 1vh;
                a{
                    
                    font-size: 4vw;
                    color: $primaryBackgroundColorDark;
                    margin: 0px;
                    padding: 0px;
                    
                    &:hover
                    {
                        color: $secondaryBacgroundColorOrange;
                        
                    }
                }
            
            }
            #meteoApp
        {
            background-color: $primaryBackgroundColorLight;
            width: 100%;
            height: 20vh;
            margin: 0vh;
            border: 5px solid $primaryBackgroundColorDark;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2
            {
                font-size: 1.5vw;
                text-align: center;
            }
            hr{
                border: 1px solid black;
                width: 95%;
            }
            #icone{
                margin-top: 1vh;
                background-color:$primaryBackgroundColorDark;
                border-radius: 100%;
            }
            #meteo{
                font-variant: small-caps;
                font-weight: bold;
                font-size: 1.5vw;
            }
           
        }
            
        }
    }

}

/* tablet */
@media screen and (max-width: 768px) 
{	
    #article{
        width:100%;
        min-height: 95vh;
        padding-top: 3vh;
        
        background-color: $primaryBackgroundColorLight;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
            #titleArticle{
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5vh;
                
                
                a{
                    text-decoration: none;
                   
                }
                h1{
                    position: relative;
                    font-size: 3vw;
                    z-index: 2;
                    color: $primaryBackgroundColorDark;
                    
                }
                h2{
                    position: relative;
                    font-size: 3vw;
                    z-index: 2;
                    color: $primaryBackgroundColorDark;
                    padding-left: 1vh;
                    padding-right: 1vh;
                }
                h3{
                    position: relative;
                    font-size: 24px;
                    z-index: 2;
                    color: $primaryBackgroundColorLight;
                    background-color: $primaryBackgroundColorDark;
                    border: 3px solid $primaryBackgroundColorDark;
                    padding-left: 1vh;
                    padding-right: 1vh;
                    &:hover{
                        color: $primaryBackgroundColorDark;
                        background-color: $primaryBackgroundColorLight;
                    }
                }
                #separator02{
                    width: 100%;
                    height: 0;
                    border-top: 30px solid $secondaryBacgroundColorOrange;
                    position: absolute;
                    top: 10%;
                    z-index: 1;
                }
                
            }
            #formSignIn{
                background-color: $primaryBackgroundColorLight;
                border: 5px solid $secondaryBacgroundColorOrange;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                width: 80%;
                padding-top: 2vh;
                padding-bottom: 1vh;
                margin-bottom: 5vh;
            }

            #formLetter{
                background-color: $primaryBackgroundColorLight;
                border: 5px solid $secondaryBacgroundColorOrange;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                font-size: 24px;
                width: 96%;
                height: 95vh;
                padding-top: 2vh;
                padding-bottom: 1vh;
                margin-bottom: 5vh;
            }

            #infosCount
            {
                display: flex;
                justify-content: space-evenly;
                width: 96%;
                margin-bottom: 3vh;
                #infosPerso{
                    width: 45%;
                    padding: 1vh;
                    display: flex;
                    flex-direction: column;
                    border: 5px solid $primaryBackgroundColorDark;
                    h2{
                        text-align: center;
                        margin-bottom: 3vh;
                        text-decoration: underline;
                    }
                    .infos{
                        margin-bottom: 2vh;
                        font-size: 14px;
                    }
    
                }
                #blockLinks{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    .countLinks{
                        background-color: $secondaryBacgroundColorOrange;
                        border: 2px solid $primaryBackgroundColorDark;
                        font-size: 18px;
                        cursor: pointer;
                        text-decoration: none;
                        text-align: center;
                        color: $primaryBackgroundColorDark;
                        font-weight: 900;
                        margin: 2vh;
                        padding: 1vh;
                        &:hover{
                            background-color: $primaryBackgroundColorDark;
                            color: $primaryBackgroundColorLight;
                        }
                    }
                }
            }
    }
    
    
    #sectionImg{
        width: 100%;
        height: 30vh;
        position: relative;
        top:0;
        display: flex;
        justify-content: center;
            .rubricImg{
                width: 100%;
                height: 30%;
                object-fit: cover;
                position: fixed;
            }
    }

    #listRubric{
        width:100%;
        min-height: 95vh;
        
        background-color: $primaryBackgroundColorLight;
        position: relative;
        
            #titleRubric{
                position: relative;
                text-align: center;
                margin-bottom: 3vh;
                h1{
                    position: relative;
                    font-size: 30px;
                    
                    z-index: 2;
                }
                #separator02{
                    width: 100%;
                    height: 0;
                    border-top: 12px solid $secondaryBacgroundColorOrange;
                    position: absolute;
                    top: 40%;
                    z-index: 1;
                }
            }
           
            
            .containerRubric
            {
                width: 99%;
                height: 50vh;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                align-items: center;
                text-decoration: none;
                &:hover
                {
                    color: $primaryBackgroundColorLight;
                    background-color: $primaryBackgroundColorDark;
                    filter: grayscale(100%);
                }
            }
    
            .containImg
            {
                width: 32%;
                height: 96%;
                background-color: $secondaryBacgroundColorOrange;
                border: 3px solid $secondaryBacgroundColorOrange;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                
            }
    
            .containText
            {
                width: 66%;
                height: 96%;
                background-color: #F9FBF2;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                
                color: $primaryBackgroundColorDark;
                
                z-index: 1;
                &:hover
                {
                    
                    filter: grayscale(100%);
                }
                
                    .textInfo{
                        
                        width: 95%;
                        height: 100%;
                        
                        border: 2px solid $secondaryBacgroundColorOrange;
                        
                            .theme{
                                position: absolute;
                                top: -3%;
                                left: 1%;
                                font-size: 8vw;
                                padding:5px;
                                background-color: $primaryBackgroundColorLight;
                                z-index: 1;
                            }
                            .numberMag{
                            
                                font-size: 3vw;
                                
                                margin-bottom: 0px;
                                
                            }
                            .date{
                            
                                font-size: 3vw;
                                
                                margin-bottom: 0px;
                                
                            }
                            .titles{
                                text-align: center;
                                font-size: 3vw;
                                background-color: $primaryBackgroundColorDark;
                                color: $primaryBackgroundColorLight;
                            }
                            .number{
                                
                                font-size: 5vw;
                                padding:5px;
                                
                            }
                            .title{
                                text-align: center;
                                font-size: 4.5vw;
                            }
                            .articleContent{
                                border: 5px solid $primaryBackgroundColorDark;
                                font-size: 3vw;
                                padding: .75vh;
                            }
                            .contentExtract{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                .extract{
                                    text-align: center;
                                    padding: 1vh;
                                    padding-top: 0px;
                                    font-size: 3.5vw;
                                    
                                }
                            }
                           
                    }
            }
    
            .thumbImg
            {
                width:100%;
                height: 100%;
                margin:1px;
                object-fit: cover;
                &:hover
                {
                    color: $primaryBackgroundColorLight;
                    background-color: $primaryBackgroundColorDark;
                    filter: grayscale(100%);
                }
                
                
            }
            #pageMovers{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-bottom: 5vh;;
                align-self: center;
                    a{
                        width: 30%;
                        text-align: center;
                        font-size: 54px;
                        text-decoration: none;
                        color: $primaryBackgroundColorDark;
                        &:hover{
                            color: $secondaryBacgroundColorOrange;
                        }
                    }
                    span{
                        background-color: $secondaryBacgroundColorOrange;
                        border: solid 2px $primaryBackgroundColorDark;
                        font-size: 24px;
                        padding: 10px;;
                    }
            }
            #pageMoversHidden{
                display: none;
                justify-content: center;
                align-items: center;
                width: 50%;
            }
            .hidden{
                cursor: not-allowed;
                pointer-events: none;
                color: #eceee3 !important;
                
                
            }

        
    }
    
    nav{
        color: $primaryBackgroundColorLight;
        @include flexCenter(column);
        position: fixed;
        top: -35px;
        width: 100%;
        height: 175px;
        transition: top 0.5s;
        z-index: 6;
        a{
            text-decoration: none;
            color: $primaryBackgroundColorLight;
        }
        #navTop{
            margin-top: 5px;
            margin-right: 15px;
            font-size: 10px;
            z-index: 3;
        }
    
        .navTopLink{
            margin-left: 18px;
            text-decoration: none;
            color: $primaryBackgroundColorLight;
        }
    
        #logo{
            width: 100%;
            margin-top: -25px;
            padding-top: 10px;
            margin-bottom: -10px;
            text-decoration: none;
            color: $primaryBackgroundColorLight;
            font-size: 25px;
            z-index: 2;
            position: relative;
            text-align: center;
            span{
                position: relative;
                z-index: 1;
                font-size: 50px;
                
            }
            #separator01{
                width: 100%;
                height: 0;
                border-top: 20px solid $secondaryBacgroundColorOrange;
                position: absolute;
                top: 50%;
                left: 0%;
                z-index: 0;
            }
            
        }
    
        #navLinks{
            background-color: $primaryBackgroundColorDark;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            z-index: 3;
            border: solid 2px $secondaryBacgroundColorOrange;
            padding-left: 15px;
        }
    
        .navBottomLink{
            padding-right: 15px;
            text-decoration: none;
            color: $primaryBackgroundColorLight;
            font-size: 14px;
            transition: color .5s;
            &:hover{
                color: $secondaryBacgroundColorOrange;
                text-decoration: underline;
            }
            &.active{
                color: $secondaryBacgroundColorOrange;
                text-decoration: underline;
            }
            
        }
    
        #popupInfos{
            position: absolute;
            width: 60%;
            min-height: 100px;
            background-color: $primaryBackgroundColorLight;
            top: -500px;
        }
        
    }
    #navBar.sticky{
        top: -115px;
    }
    
    
    header
    {
        width:100%;
        height: 70vh;
        display: flex;
        @include flexCenter(column);
        margin-top: 16vh;
        margin-bottom: 1vh;
        position: relative;

        #headerImg
        {
            width:100%;
            object-fit: cover;
            height: 80%;
            z-index: -999 ;
            position: fixed;
            border: 0px solid $primaryBackgroundColorLight;
            /*transition: height 5s, opacity 3s;
            opacity: 0;*/
        }

        #title02
        {
            position: absolute;
            top: 30%;
            left:0%;
            font-size: 3.5vw;
            color: $primaryBackgroundColorLight;
            background-color: $primaryBackgroundColorDark;
            padding: 0.5em 0.5em 0.8em 0.5em;
            display: inline-block;
            z-index: 1;
            border-radius: 0px 25px 25px 0px;
            
        }

        #title01 
        {
            position: absolute;
            top: 10%;
            left:0%;
            font-size: 3.5vw;
            color: $primaryBackgroundColorLight;
            background-color: $primaryBackgroundColorDark;
            padding: 0.5em 0.5em 0.8em 0.5em;
            display: inline-block;
            z-index: 1;
            border-radius: 0px 25px 25px 0px;
        }


        #number
        {
            position: absolute;
            top: 91%;
            left: 2.25%;
            font-size: 2.5vw;
            color: $primaryBackgroundColorLight;
            background-color: $primaryBackgroundColorDark;
            padding: 0.5em 0.2em 0.8em 0.5em;
            display: inline-block;
            z-index: 1;
            border: 5px solid $primaryBackgroundColorDark;
        }

        #publication
        {
            position: absolute;
            top: 91%;
            right: 2.25%;
            font-size: 2.5vw;
            color: $primaryBackgroundColorLight;
            background-color: $primaryBackgroundColorDark;
            padding: 0.5em 0.2em 0.8em 0.5em;
            display: inline-block;
            z-index: 1;
            border: 5px solid $primaryBackgroundColorDark;
        }

        
        .fa-arrow-circle-left{
            position: absolute;
            text-decoration: none;
            top:75%;
            left:5%;
            font-size: 72px;
            z-index: 4;
            color: $primaryBackgroundColorLight;
            transition: color .5s, transform .5s;
            &:hover{
                color: $secondaryBacgroundColorOrange;
                
            }
        }
        
        .fa-arrow-circle-right{
            position: absolute;
            text-decoration: none;
            top:75%;
            right:5%;
            font-size: 72px;
            z-index: 4;
            color: $primaryBackgroundColorLight;
            transition: color .5s, transform .5s;
            &:hover{
                color: $secondaryBacgroundColorOrange;
                
            }
        }
        .infoBox{
            position: absolute;
            z-index: 2;
            top: -6vh;
            left: -1vh;
            justify-content: center;
            align-items: center;
            display: flex;
            opacity: 0;
            transition: opacity 1s;
            span{
                font-size: 14px;
                background-color: $primaryBackgroundColorLight;
                border: 3px solid $primaryBackgroundColorDark;
                border-radius: 10px;
                text-align: center;
                padding: 1vh;
                color: $primaryBackgroundColorDark;
            }
            
        }
        .hidden{
            position: absolute;
            z-index: -2;
            bottom: -5vh;
            left: -.75vh;
            justify-content: center;
            align-items: center;
            display: flex;
            opacity: 0;
            span{
                font-size: 14px;
                background-color: $primaryBackgroundColorLight;
                text-align: center;
                padding: 1vh;
                color: $primaryBackgroundColorDark;
                display: none;
            }
            
        }
    }
    
    
    
    #coverPart01
    {
        display: flex;
        flex-wrap: wrap-reverse;
        width:96%;
        height: auto;
        justify-content: space-around;
        z-index: 4;
        a{
            background-color: $primaryBackgroundColorLight;
            width: 100%;
            padding: 1vh;
            height: 50vh;
            margin: 0px;
            margin-bottom: 4vh;
            border: 5px solid $primaryBackgroundColorDark;
            text-decoration: none;
            color: $primaryBackgroundColorDark;
            &:hover
            {
                background-color: $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
                cursor: pointer;
                filter: grayscale(100%);
            }
            .imgContainer
            {
                width: 100%;
                height: 70%;
                background-color: red;
            }
            
        }
        #mainArticle
        {
            width: 100%;
            position: relative;
            height: 50vh;
            margin: 0px;
            margin-bottom: 4vh;
            border: 5px solid black;
            #mainImg
            {
                width: 100%;
                height:100%;
                object-fit: cover;
                &:hover
                {
                    filter: grayscale(100%);
                }
            }
            h3
            {
                position: absolute;
                margin: 2vh;
                padding: 5px;
                font-size: 5vw;
                left: 0%;
                top: 0%;
                background-color:  $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
            }
            .teaser
            {
                font-size: 4vw;
                
                padding: 0.5em 0.5em 0.8em 0.5em;
                padding-top: 0px;
                width: 95%;
                text-align: center;
                line-height: 85%;
                h2
                {
                    font-size: 8vw;
                    padding: 2vh;
                    padding-top: 5px;
                    text-align: center;
                    line-height: 75%;
                    margin-top: 2vh;
                
                }
                span{
                    font-size: 4vw;
                }
            }
            
        }
        #edito
        {
            width: 100%;
            padding: 1vh;
            height: auto;
            margin: 0px;
            margin-bottom: 4vh;
            border: 5px solid $primaryBackgroundColorDark;
            h2{
                font-size: 4vw;
            }
            span{
                font-size: 3vw;
            }
        }
    }

    #coverPart02
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width:96%;
        height: auto;
        margin: 0px;
        z-index: 4;
        a{
            background-color: $primaryBackgroundColorLight;
            width: 100%;
            padding: 1vh;
            height: 50vh;
           
            margin-bottom: 4vh;
            border: 5px solid $primaryBackgroundColorDark;
            text-decoration: none;
            color: $primaryBackgroundColorDark;
            &:hover
            {
                background-color: $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
                cursor: pointer;
                filter: grayscale(100%);
            }
            .imgContainer
            {
                width: 100%;
                height: 75%;
                background-color: red;
            }
            
        }
        .articleCover
        {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 1vh;
            height: 75vh;
            margin: 0px;
            margin-bottom: 4vh;
            border: 5px solid $primaryBackgroundColorDark;
            .articleImg
            {
                width: 100%;
                height:100%;
                object-fit: cover;
                &:hover
                {
                    filter: grayscale(100%);
                }
            }
            h3
            {
                position: absolute;
                margin: 2vh;
                padding: 5px;
                font-size: 5vw;
                z-index: 4;
                top: 0%;
                left: 0%;
                background-color:  $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
            }
            .teaser
            {
                font-size: 4vw;
                
                padding: 0.5em 0.5em 0.8em 0.5em;
                padding-top: 0px;
                width: 95%;
                text-align: center;
                line-height: 85%;
                h2
                {
                    font-size: 6vw;
                    padding: 2vh;
                    padding-top: 5px;
                    text-align: center;
                    line-height: 75%;
                }
                span{
                    font-size: 4vw;
                }
            }
        }
        #readersLettersAndSocial
        {
            
            width: 100%;
            display: flex;
            flex-direction: column ;
            
            height: auto;
            margin: 0px;
            margin-bottom: 4vh;
            
            text-decoration: none;
            color: $primaryBackgroundColorDark;
            #readersLetters
            {
                background-color: $primaryBackgroundColorLight;
                width: 100%;
                height: auto;
                margin-bottom: 1vh;
                border: 5px solid $primaryBackgroundColorDark;
                &:hover
                {
                    background-color: $primaryBackgroundColorDark;
                    color: $primaryBackgroundColorLight;
                    cursor: pointer;
                }
                h2
                {
                    font-size: 5vw;
                    text-align: center;
                }
                span
                {
                    font-size: 3vw;
                }
            }
            #socialMedia
            {
                background-color: $primaryBackgroundColorLight;
                width: 100%;
                height: auto;
                margin-bottom: 1vh;
                border: 5px solid $primaryBackgroundColorDark;
                display: none;
                justify-content: center;
                align-items: center;
                a{
                    background-color: $primaryBackgroundColorLight;
                    width: 30%;
                    padding: 1vh;
                    height: 5vh;
                    margin: 0px;
                    text-decoration: none;
                    text-align: center;
                    align-items: center;
                    font-size: 10vw;
                    color: $primaryBackgroundColorDark;
                    border: 0px solid $primaryBackgroundColorDark;
                    
                    &:hover
                    {
                        
                        color: $secondaryBacgroundColorOrange;
                        border: 0px solid $primaryBackgroundColorDark;
                    }
                }
            
            }
            #meteoApp
            {
                background-color: $primaryBackgroundColorLight;
                width: 100%;
                height: 20vh;
                margin: 0vh;
                border: 5px solid $primaryBackgroundColorDark;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2
                {
                    font-size: 5vw;
                    text-align: center;
                }
                hr{
                    border: 1px solid black;
                    width: 95%;
                }
                #icone{
                    margin-top: 1vh;
                    background-color:$primaryBackgroundColorDark;
                    border-radius: 100%;
                    height: 40%;
                }
                #meteo{
                    font-variant: small-caps;
                    font-weight: bold;
                    font-size: 3vw;
                    margin-bottom: 1vh;
                }
            
            }
            
            
        }
    }

}

/* mobile */
@media screen and (max-width: 430px) 
{	
    #article{
        width:100%;
        min-height: 95vh;
        padding-top: 3vh;
        
        background-color: $primaryBackgroundColorLight;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
            #titleArticle{
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5vh;
                
                
                a{
                    text-decoration: none;
                   
                }
                h1{
                    position: relative;
                    font-size: 5vw;
                    z-index: 2;
                    color: $primaryBackgroundColorDark;
                    
                }
                h2{
                    position: relative;
                    font-size: 3vw;
                    z-index: 2;
                    color: $primaryBackgroundColorDark;
                    padding-left: 1vh;
                    padding-right: 1vh;
                }
                h3{
                    position: relative;
                    font-size: 18px;
                    z-index: 2;
                    color: $primaryBackgroundColorLight;
                    background-color: $primaryBackgroundColorDark;
                    border: 3px solid $primaryBackgroundColorDark;
                    padding-left: 1vh;
                    padding-right: 1vh;
                    &:hover{
                        color: $primaryBackgroundColorDark;
                        background-color: $primaryBackgroundColorLight;
                    }
                }
                #separator02{
                    width: 100%;
                    height: 0;
                    border-top: 27px solid $secondaryBacgroundColorOrange;
                    position: absolute;
                    top: 10%;
                    z-index: 1;
                }
                
            }
            #infosCount
        {
            display: flex;
            flex-direction: column;
            margin-bottom: 3vh;
            justify-content: center;
            align-items: center;
            width: 96%;
            #infosPerso{
                width: 95%;
                padding: 1vh;
                display: flex;
                flex-direction: column;
                border: 5px solid $primaryBackgroundColorDark;
                h2{
                    text-align: center;
                    margin-bottom: 3vh;
                    text-decoration: underline;
                }
                .infos{
                    margin-bottom: 2vh;
                    font-size: 18px;
                }

            }
            #blockLinks{
                width: 55%;
                display: flex;
                flex-direction: column;
                .countLinks{
                    background-color: $secondaryBacgroundColorOrange;
                    border: 2px solid $primaryBackgroundColorDark;
                    font-size: 18px;
                    cursor: pointer;
                    text-decoration: none;
                    text-align: center;
                    color: $primaryBackgroundColorDark;
                    font-weight: 900;
                    margin: 2vh;
                    padding: 1vh;
                    &:hover{
                        background-color: $primaryBackgroundColorDark;
                        color: $primaryBackgroundColorLight;
                    }
                }
                #deleteSelf{
                    background-color: red;
                }
            }
        }
    }
}