#containLoader{
    width: 100%;
    height: 100%;
    background-color:  $primaryBackgroundColorDark;
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  $primaryBackgroundColorLight;
    font-size: 5vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    #containCircles{
        .circle{
            background-color: $secondaryBacgroundColorOrange;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            transform: scale(0);
            animation: grow 1s linear infinite;
        }
        .circle:nth-child(2){
            background-color: $primaryBackgroundColorLight;
            animation-delay: 0.25s;
        }
        
        animation: rotate 0.5s linear infinite;
    }
    span{
        border-bottom: 5px solid $secondaryBacgroundColorOrange;
        padding: 5px;
    }
}

@keyframes rotate{
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow{
    50% {
        transform: scale(1);
    }
}

#coverPart01
{
    display: flex;

    width:60%;
    height: auto;
    
    z-index: 4;
    a{
        background-color: $primaryBackgroundColorLight;
        width: 30%;
        padding: 1vh;
        height: 50vh;
        margin-left: 2.5%;
        margin-bottom: 4vh;
        border: 5px solid $primaryBackgroundColorDark;
        text-decoration: none;
        color: $primaryBackgroundColorDark;
        
        &:hover
        {
            background-color: $primaryBackgroundColorDark;
            color: $primaryBackgroundColorLight;
            cursor: pointer;
            filter: grayscale(100%);
        }
        .imgContainer
        {
            width: 100%;
            height: 70%;
            
        }
        
    }
    #mainArticle
    {
        width: 62.5%;
        position: relative;
        height: 50vh;
        margin-left: 2.5%;
        margin-bottom: 4vh;
        border: 5px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        #mainImg
        {
            width: 100%;
            height:100%;
            object-fit: cover;
            &:hover
            {
                filter: grayscale(100%);
            }
        }
        h3
        {
            position: absolute;
            margin: 2vh;
            padding: 5px;
            font-size: 24px;
            left: 0%;
            top: 0%;
            background-color:  $primaryBackgroundColorDark;
            color: $primaryBackgroundColorLight;
        }
        
        .teaser
        {
            
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0.5em 0.5em 0.8em 0.5em;
            padding-top: 0px;
            width: 95%;
            height: 30%;
            text-align: center;
            line-height: 85%;
            h2
            {
                font-size: 1.5vw;
                padding: 2vh;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                line-height: 75%;
                border-bottom: 2px solid $primaryBackgroundColorDark;
            }
            span
            {
                font-size: 1vw;
                text-align: center;
                line-height: 75%;
            }
        }
        
    }
    #edito
    {
        width: 30%;
        padding: 1vh;
        height: 50vh;
        margin-left: 2.5%;
        margin-bottom: 4vh;
        border: 5px solid $primaryBackgroundColorDark;
        h2{
            font-size: 2vw;
        }
        span{
            font-size: .85vw;
        }
    }
}

#coverPart02
{
    display: flex;
    flex-wrap: wrap;
    width:60%;
    height: auto;
    
    z-index: 4;
    a{
        background-color: $primaryBackgroundColorLight;
        width: 30%;
        padding: 1vh;
        height: 50vh;
        margin-left: 2.5%;
        margin-bottom: 4vh;
        border: 5px solid $primaryBackgroundColorDark;
        text-decoration: none;
        color: $primaryBackgroundColorDark;
        
        &:hover
        {
            background-color: $primaryBackgroundColorDark;
            color: $primaryBackgroundColorLight;
            cursor: pointer;
            filter: grayscale(100%);
        }
        .imgContainer
        {
            width: 100%;
            height: 75%;
            background-color: red;
        }
        
    }
    .articleCover
    {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 30%;
        padding: 1vh;
        height: 50vh;
        margin-left: 2.5%;
        margin-bottom: 4vh;
        border: 5px solid $primaryBackgroundColorDark;
        .articleImg
        {
            width: 100%;
            height:100%;
            object-fit: cover;
            &:hover
            {
                filter: grayscale(100%);
            }
        }
        h3
        {
            position: absolute;
            margin: 2vh;
            padding: 5px;
            font-size: 1.2vw;
            z-index: 4;
            top: 0%;
            left: 0%;
            background-color:  $primaryBackgroundColorDark;
            color: $primaryBackgroundColorLight;
        }
        .teaser
        {
            font-size: 1.25vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0.5em 0.5em 0.8em 0.5em;
            padding-top: 0px;
            width: 95%;
            height: 30%;
            text-align: center;
            line-height: 85%;
            h2
            {
                font-size: 1.25vw;
                padding: 2vh;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                line-height: 75%;
                border-bottom: 2px solid $primaryBackgroundColorDark;
            }
            span
            {
                font-size: .9vw;
                
                text-align: center;
                line-height: 75%;
            }
        }
    }
    #readersLettersAndSocial
    {
        
        width: 30%;
        display: flex;
        flex-direction: column ;
        justify-content: space-around;
        height: 50vh;
        margin-left: 2.5%;
        margin-bottom: 4vh;
        
        text-decoration: none;
        color: $primaryBackgroundColorDark;
        #readersLetters
        {
            background-color: $primaryBackgroundColorLight;
            width: 100%;
            height: 20vh;
            margin: 0vh;
            border: 5px solid $primaryBackgroundColorDark;
            text-align: center;
            &:hover
            {
                background-color: $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
                cursor: pointer;
            }
            h2
            {
                font-size: 1.5vw;
                text-align: center;
            }
            span
            {
                font-size: .85vw;
                text-align: center;
            }
        }
        #socialMedia
        {
            background-color: $primaryBackgroundColorLight;
            width: 100%;
            height: 10vh;
            margin: 0vh;
            border: 5px solid $primaryBackgroundColorDark;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1vh;
            margin-bottom: 1vh;
            a{
                background-color: $primaryBackgroundColorLight;
                width: 30%;
                padding: 1vh;
                height: 5vh;
                text-decoration: none;
                text-align: center;
                align-items: center;
                font-size: 4vw;
                color: $primaryBackgroundColorDark;
                border: 0px solid $primaryBackgroundColorDark;
                
                &:hover
                {
                    
                    color: $secondaryBacgroundColorOrange;
                    border: 0px solid $primaryBackgroundColorDark;
                }
            }
           
        }

        #meteoApp
        {
            background-color: $primaryBackgroundColorLight;
            width: 100%;
            height: 20vh;
            margin: 0vh;
            border: 5px solid $primaryBackgroundColorDark;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2
            {
                font-size: 1.25vw;
                text-align: center;
            }
            hr{
                border: 1px solid black;
                width: 95%;
            }
            #icone{
                margin-top: 1vh;
                background-color:$primaryBackgroundColorDark;
                border-radius: 100%;
            }
            #meteo{
                font-variant: small-caps;
                font-weight: bold;
                font-size: 1vw;
            }
           
        }
        
        
    }
}

#sectionImg{
    width: 60%;
    height: 30vh;
    position: relative;
    top:0;
    display: flex;
    justify-content: center;
        .rubricImg{
            width: 60%;
            height: 30%;
            object-fit: cover;
            position: fixed;
        }
}

#listRubric{
    width:60%;
    min-height: 95vh;
    
    background-color: $primaryBackgroundColorLight;
    position: relative;
    
        #titleRubric{
            position: relative;
            text-align: center;
            margin-bottom: 5vh;
            h1{
                position: relative;
                font-size: 48px;
                
                z-index: 2;
            }
            #separator02{
                width: 100%;
                height: 0;
                border-top: 20px solid $secondaryBacgroundColorOrange;
                position: absolute;
                top: 40%;
                z-index: 1;
            }
        }
       
        
        .containerRubric
        {
            width: 100%;
            height: 30vh;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;
            text-decoration: none;
            &:hover
            {
                color: $primaryBackgroundColorLight;
                filter: grayscale(100%);
            }
        }

        .containImg
        {
            width: 32%;
            height: 96%;
            background-color: $secondaryBacgroundColorOrange;
            border: 3px solid $secondaryBacgroundColorOrange;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        .containText
        {
            width: 66%;
            height: 96%;
            background-color: #F9FBF2;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
            color: $primaryBackgroundColorDark;
            
            z-index: 1;
            &:hover
            {
                
                filter: grayscale(100%);
            }
            
                .textInfo{
                    
                    width: 95%;
                    height: 100%;
                    border: 2px solid $secondaryBacgroundColorOrange;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                        a{
                            text-align: center;
                            
                        }
                        .numberAndDate{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width:50%;
                            border: 5px solid $primaryBackgroundColorDark;
                            align-self: center;
                            margin-top: 15px;
                        }
                    
                        .number{
                            
                            font-size: 1.5vw;
                            padding-left: 5px;
                            
                        }
                        .numberMag{
                            
                            font-size: 1.5vw;
                            
                            margin-bottom: 0px;
                            
                        }
                        .magContent{
                            display: flex;
                            justify-content: space-around;
                            margin-bottom: 15px;
                        }
                        .articleContent{
                            border: 5px solid $primaryBackgroundColorDark;
                            font-size: 1vw;
                            padding: .75vh;
                        }
                        .date{
                            
                            font-size: 1vw;
                            
                            margin-bottom: 0px;
                        }
                        .title{
                            text-align: center;
                            font-size: 1.75vw;
                            background-color: $primaryBackgroundColorDark;
                            color: $primaryBackgroundColorLight;
                        }
                        .titles{
                            text-align: center;
                            font-size: 1.25vw;
                            background-color: $primaryBackgroundColorDark;
                            color: $primaryBackgroundColorLight;
                        }
                        .contentExtract{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            .extract{
                                text-align: center;
                                padding: 1vh;
                                padding-top: 0px;
                                font-size: 1.5vw;
                                
                            }
                        }
                        
                        
                }
        }

        .thumbImg
        {
            width:100%;
            height: 100%;
            margin:1px;
            object-fit: cover;
            &:hover
            {
                color: $primaryBackgroundColorLight;
                background-color: $primaryBackgroundColorDark;
                filter: grayscale(100%);
            }
            
            
        }
        .pageMovers{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 5vh;;
            align-self: center;
                a{
                    width: 30%;
                    text-align: center;
                    font-size: 54px;
                    text-decoration: none;
                    color: $primaryBackgroundColorDark;
                    &:hover{
                        color: $secondaryBacgroundColorOrange;
                    }
                }
                span{
                    background-color: $secondaryBacgroundColorOrange;
                    border: solid 2px $primaryBackgroundColorDark;
                    font-size: 24px;
                    padding: 10px;;
                }
        }
        .pageMoversHidden{
            display: none;
            justify-content: center;
            align-items: center;
            width: 50%;
        }
        .hidden{
            cursor: not-allowed;
            pointer-events: none;
            color: #eceee3 !important;
            
            
        }
}

#article{
    width:60%;
    min-height: 62vh;
    padding-top: 3vh;
    background-color: $primaryBackgroundColorLight;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
        #goDown{
            background-color: $secondaryBacgroundColorOrange;
            text-decoration: none;
            color: $primaryBackgroundColorDark;
            padding: 5px;
            font-size: 18px;
            border: 3px solid $primaryBackgroundColorDark;
            margin-bottom: 5px;
            &:hover{
                background-color:  $primaryBackgroundColorDark;
                border: 3px solid $secondaryBacgroundColorOrange;
                color: $primaryBackgroundColorLight;
            }
        }
        #goUp{
            background-color: $secondaryBacgroundColorOrange;
            text-decoration: none;
            color: $primaryBackgroundColorDark;
            padding: 5px;
            font-size: 18px;
            border: 3px solid $primaryBackgroundColorDark;
            margin-bottom: 5px;
            &:hover{
                background-color:  $primaryBackgroundColorDark;
                border: 3px solid $secondaryBacgroundColorOrange;
                color: $primaryBackgroundColorLight;
            }
        }
        .countLinks{
            background-color: $secondaryBacgroundColorOrange;
            border: 2px solid $primaryBackgroundColorDark;
            font-size: 24px;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            color: $primaryBackgroundColorDark;
            font-weight: 900;
            margin: 2vh;
            padding: 1vh;
            &:hover{
                background-color: $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
            }
        }
        
        #titleArticle{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5vh;
            
            
            a{
                text-decoration: none;
               
            }
            h1{
                position: relative;
                font-size: 24px;
                z-index: 2;
                color: $primaryBackgroundColorDark;
                
                
            }
            h2{
                position: relative;
                font-size: 24px;
                z-index: 2;
                color: $primaryBackgroundColorDark;
                padding-left: 1vh;
                padding-right: 1vh;
            }
            h3{
                position: relative;
                text-decoration: none;
                font-size: 24px;
                z-index: 2;
                color: $primaryBackgroundColorLight;
                background-color: $primaryBackgroundColorDark;
                border: 3px solid $primaryBackgroundColorDark;
                padding-left: 1vh;
                padding-right: 1vh;
                &:hover{
                    color: $primaryBackgroundColorDark;
                    background-color: $primaryBackgroundColorLight;
                }
            }
            #separator02{
                width: 100%;
                height: 0;
                border-top: 36px solid $secondaryBacgroundColorOrange;
                position: absolute;
                top: 10%;
                z-index: 1;
            }
            
        }
        #infos{
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $secondaryBacgroundColorOrange;
            margin-bottom: 5vh;
            padding-left: 5vh;
            padding-right: 5vh;
            border-top: 5px solid $primaryBackgroundColorDark;
            border-bottom: 5px solid $primaryBackgroundColorDark;
            span{
                text-align: center;
                font-size: 18px;
                padding-top: 2vh;
                padding-bottom: 2vh;
            }
        }
        #error{
            color: $primaryBackgroundColorDark;
            background-color: rgb(238, 41, 41);
            padding: 5px;
            font-size: 24px;
            border: 3px solid $primaryBackgroundColorDark;
            margin-bottom: 2vh;
            &.none{
                display: none;
            }
        }
        #message{
            color: $primaryBackgroundColorDark;
            background-color: greenyellow;
            padding: 5px;
            font-size: 24px;
            border: 3px solid $primaryBackgroundColorDark;
            margin-bottom: 2vh;
            &.none{
                display: none;
            }
        }
        #formSignIn{
            background-color: $primaryBackgroundColorLight;
            border: 5px solid $secondaryBacgroundColorOrange;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            width: 50%;
            padding-top: 2vh;
            padding-bottom: 1vh;
            margin-bottom: 5vh;
            .containInfoBox{
                position: relative;
                height: 25px;
                width: 80%;
                top: 30px;
                z-index: 3;
                margin: 0px;
                
                .infoBox{
                    
                    opacity: 1 ;
                    transition: opacity 5s;
                    z-index: 2;
                    span{
                        position: absolute;
                        z-index: 2;
                        top: -8vh;
                        width: 150px;
                        left: 20vw;
                        font-size: 14px;
                        text-align: left;
                        background-color: white;
                        border: 2px solid black;;
                        padding: 1vh;
                        color: black;
                    }
                    
                }
                .hidden{
                    display: none;
                    z-index: -2;
                }
            }
            input{
                width: 80%;
                font-size: 18px;
                border: 2px solid $primaryBackgroundColorDark;
                border-top: none;
                padding: 2px;
                margin-bottom: 2vh;
                text-align: center;
            }
            label{
                text-align: center;
                position: relative;
                width: 80%;
                font-size: 18px;
                background-color: $secondaryBacgroundColorOrange;
                border: 2px solid $primaryBackgroundColorDark;
                .fa-info{
                    position: absolute;
                    right: 34%;
                    top: 15%;
                    font-size: 18px;
                    cursor: help;
                    color: $primaryBackgroundColorDark;
                }
                .fa-circle{
                    position: absolute;
                    right: 3.25%;
                    font-size: 24px;
                    top: 15%;
                    color: $primaryBackgroundColorLight;
                    cursor: help;
                }
                
            }
            span{
                text-align: left;
                width: 80%;
                font-size: 18px;
                margin-bottom: 2vh;
                padding: 1vh;
                border: 2px solid $primaryBackgroundColorDark;

            }
            #check{
                margin-top: 2vh !important;
                width: 20px;
                height: 20px;
            }
            #saver{
                background-color: $secondaryBacgroundColorOrange;
                border: 2px solid $primaryBackgroundColorDark;
                font-size: 24px;
                cursor: pointer;
                &:hover{
                    background-color: $primaryBackgroundColorDark;
                    color: $primaryBackgroundColorLight;
                }
            }
        }
        #formLetter{
            background-color: $primaryBackgroundColorLight;
            border: 5px solid $secondaryBacgroundColorOrange;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            font-size: 24px;
            width: 80%;
            height: 95vh;
            padding-top: 2vh;
            padding-bottom: 1vh;
            margin-bottom: 5vh;
            input{
                width: 95%;
                height: 500px;
                font-size: 24px;
                border: 2px solid $primaryBackgroundColorDark;
                border-top: none;
                padding: 2px;
                margin-bottom: 2vh;
            }
            textarea{
                width: 95%;
                height: 100%;
                font-size: 18px;
                border: 2px solid $primaryBackgroundColorDark;
                border-top: none;
                padding: 2px;
                margin-bottom: 2vh;
            }
            label{
                text-align: center;
                position: relative;
                width: 95%;
                font-size: 24px;
                background-color: $secondaryBacgroundColorOrange;
                border: 2px solid $primaryBackgroundColorDark;
                .fa-info{
                    position: absolute;
                    right: 34%;
                    top: 15%;
                    font-size: 18px;
                    cursor: help;
                    color: $primaryBackgroundColorDark;
                }
                .fa-circle{
                    position: absolute;
                    right: 3.25%;
                    font-size: 24px;
                    top: 15%;
                    color: $primaryBackgroundColorLight;
                    cursor: help;
                }
                
                
            }
            select{
                width: 30%;
                margin: 1vh;
                font-size: 24px;
            }
            .infoBox{
                position: absolute;
                z-index: 2;
                top: -5vh;
                width: 300px;
                left: 1vh;
                justify-content: flex-start;
                align-items: center;
                display: flex;
                border: 2px solid $primaryBackgroundColorDark;
                opacity: 0 ;
                transition: opacity .5s;
                span{
                    font-size: 14px;
                    text-align: left;
                    background-color: $primaryBackgroundColorLight;
                    
                    padding: 1vh;
                    color: $primaryBackgroundColorDark;
                }
                
            }
            .hidden{
                position: absolute;
                z-index: -2;
                bottom: -5vh;
                left: -.75vh;
                justify-content: center;
                align-items: center;
                display: flex;
                span{
                    font-size: 14px;
                    background-color: $primaryBackgroundColorLight;
                    text-align: center;
                    padding: 1vh;
                    color: $primaryBackgroundColorDark;
                    display: none;
                }
            }
            #saver{
                width: 50%;
                background-color: $secondaryBacgroundColorOrange;
                border: 2px solid $primaryBackgroundColorDark;
                font-size: 24px;
                cursor: pointer;
                height: 5vh;
                &:hover{
                    background-color: $primaryBackgroundColorDark;
                    color: $primaryBackgroundColorLight;
                }
            }
        }

        #articleContent{
            width: 90%;
            border: solid 2px $secondaryBacgroundColorOrange;
            text-align: left;
            text-justify: auto;
            padding:10px;
            margin-bottom: 5px;
            color: $primaryBackgroundColorDark;
            #dateAndAuthor{
                display: flex;
                justify-content: space-between;
            }
            h3{
                text-decoration: underline;
            }
            h2{
                text-align: center;
                margin-bottom: 2vh;
                font-size: 36px;
                background-color: $primaryBackgroundColorDark;
                color: $primaryBackgroundColorLight;
                width: 100%;
                
            }
        }
        #infosCount
        {
            display: flex;
            margin-bottom: 3vh;
            justify-content: space-evenly;
            width: 96%;
            #infosPerso{
                width: 45%;
                padding: 1vh;
                display: flex;
                flex-direction: column;
                border: 5px solid $primaryBackgroundColorDark;
                h2{
                    text-align: center;
                    margin-bottom: 3vh;
                    text-decoration: underline;
                }
                .infos{
                    margin-bottom: 2vh;
                    font-size: 18px;
                }

            }
            #blockLinks{
                width: 45%;
                display: flex;
                flex-direction: column;
                .countLinks{
                    background-color: $secondaryBacgroundColorOrange;
                    border: 2px solid $primaryBackgroundColorDark;
                    font-size: 24px;
                    cursor: pointer;
                    text-decoration: none;
                    text-align: center;
                    color: $primaryBackgroundColorDark;
                    font-weight: 900;
                    margin: 2vh;
                    padding: 1vh;
                    &:hover{
                        background-color: $primaryBackgroundColorDark;
                        color: $primaryBackgroundColorLight;
                    }
                }
                #deleteSelf{
                    background-color: red;
                }
            }
        }
        .lettersAll{
            margin: 1vh;
            width: 96%;
            border: 5px solid $secondaryBacgroundColorOrange;
        }
        .readerLetter{
            border: 2px solid $secondaryBacgroundColorOrange;
            padding: 2vh;
            margin: 2vh;
            span{
                font-size: 18px !important;
                color: $primaryBackgroundColorDark !important;
                background-color: $primaryBackgroundColorLight !important;
            }
        }
        .responseLetter{
            border: 2px solid $secondaryBacgroundColorOrange;
            padding: 2vh;
            margin: 2vh;
            span{
                font-size: 18px !important;
                color: $primaryBackgroundColorDark !important;
                background-color: $primaryBackgroundColorLight !important;
            }
            
        }
        .pageMovers{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: 5vh;;
            align-self: center;
                a{
                    width: 30%;
                    text-align: center;
                    font-size: 54px;
                    text-decoration: none;
                    color: $primaryBackgroundColorDark;
                    &:hover{
                        color: $secondaryBacgroundColorOrange;
                    }
                }
                span{
                    background-color: $secondaryBacgroundColorOrange;
                    border: solid 2px $primaryBackgroundColorDark;
                    font-size: 24px;
                    padding: 10px;;
                }
        }
        .pageMoversHidden{
            display: none;
            justify-content: center;
            align-items: center;
            width: 50%;
        }
        .hidden{
            cursor: not-allowed;
            pointer-events: none;
            color: #eceee3 !important;
            
            
        }
       
}

