
$primaryBackgroundColorDark: #030B12;
$primaryBackgroundColorLight: #F9FBF2;
$secondaryBacgroundColorOrange: #E8871E;
$blackColor: #110B11;

$secondaryBacgroundColorYellow: #F8F272;
$secondaryBacgroundColorYellowLight:#FBF7B1;
$secondaryBacgroundColor02: #48A9A6;
$secondaryBacgroundColor02Light: #65a7a4;