
@import"./variables";
@import"./mixin";
@import"./html";
@import"./body";
@import"./navbar";
@import"./header";
@import"./sections";
@import"./footer";
@import"./responsive";

@font-face {
    font-family: 'NewsCycle-Regular';
    src: url('fonts/NewsCycle-Regular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}