{% extends "/back/layout.html.twig" %}

{% block title %}
    Panneau de gestion des données de l'administrateur
{% endblock %}

{% block content %}

    <section id="admin">

        <h1>Informations administrateur</h1>
        <h3>Vous pouvez changer ici votre pseudo ({{user.pseudo}}), votre mail ({{user.email}}) et votre mot de passe d'administrateur,<br>en cliquant sur les boutons ci-dessous.</h3>
        
        <span id="message" class="{% if not message %}none{% endif %}">{{message}}</span>
        
         <div class="buttonsPannel"> 

            <a class="buttonPannel linkTo" href="index.php?action=modifAdmin&amp;userData=Pseudo">Changer de pseudo</a>
            <a class="buttonPannel linkTo" href="index.php?action=modifAdmin&amp;userData=Email">Changer d'Email</a>
            <a class="buttonPannel linkTo" href="index.php?action=modifAdmin&amp;userData=Mot de passe">Changer de mot de passe</a>
       
        </div>

    </section>

{% endblock %}